body{
    background-color: rgb(188, 222, 233);
}

img{
    height: 345px;
    /* padding-inline: 19%; */
    /* padding-block: 19%; */
    /* padding-inline: 1%; */
    /* padding-block: 3%; */
    padding-bottom: 3%;
    padding-top: 1%;
    box-sizing: border-box;
    border-radius: 20px;
}
p{
    padding-inline: 4%;
    padding-bottom: 3%;
    border-radius: 20px;
    box-sizing: border-box;
}
.fd{
    border-radius: 20px;
    width: 18%;
    background-color: white;
    text-align: center;
    padding-block: 0.3%;
    box-sizing: border-box;
    margin: auto;
    margin-top:10px ;
}
.sd{
    text-align: left;
    padding-inline: 5%;
    border-radius: 20px;
    box-sizing: border-box;
}
.sd button{
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 0.5px solid lightgray;
}
.btn{
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(188, 222, 233);
    border: 0.5px solid lightgray;
}
.btn:hover{
    background-color: blue;
    color: white;
}
button{
    cursor: pointer;
}

